:root {
    --font-family: "Muli", sans-serif;
    --font-family2: "Satisfy", cursive;
    --font-family3: 'Outfit', sans-serif;
    --light: #858585;
    --primary: #000000;
    // --light: #00c3ff;
    // --primary: #e79e20; // couleur qu'on utilise le plus 
    --dark: #2980b9; // version sombre de la couleur primaire
    --text: #333; // couleur du texte par défaut
    --background: #fafafa;
    --hint: #999;
    --border: #ddd;
}